@charset  "utf-8";
/* 
フォント
Google Fonts の「Crimson Text」を使用します。
コンテンツ幅
メインビジュアルとヘッダーメニューは90vw、コンテンツ部分は1000pxで設定します。メインビジュアルの高さは可変です。
グローバルナビゲーション
ConceptとWorkをクリックすると各コンテンツにジャンプするようページ内リンクを設定します。
Contactをクリックするとメーラーが起動して、件名に「お問い合わせ」と設定されている状態にします。
Concept、Work
画面幅を縮めた際に、画像とテキストエリアは縮小させます。
フッター
ロゴとコピーライトを横並びの両端で揃えます。
レスポンシブ
ブレークポイントは767pxです。
スマホ時は、Concept、Workの画像とテキストを縦に並べます。Workは画像、テキストの順で並ぶようにCSSで設定します。
*/

html {
    font-size: 10px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

/* 
myinfo
*/

#myinfo {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#myinfo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#myinfo h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#myinfo span {
    font-size: 1.5rem;

}

/* 
skill
*/

#skill {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 100px;
}

#skill h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#skill ul {
    display: flex;
    justify-content: center;
}

#skill li {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 100px;
}

#skill li:nth-child(1) {
    background-color: #E24C27;
}

#skill li:nth-child(2) {
    background-color:  #1871B4;
}

#skill li:nth-child(3) {
    background-color: #EBBC00;
    margin-right: 0;
}

/* 
work
*/

#work h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.box {
    width: 70%;
    margin: 0 auto;
}

.box img {
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.box p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* 
footer
*/

#footer {
    background-color: #000;
    padding: 40px 0;
}

#footer p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .box {
        padding: 0 4%;
        width: 100%;
    }
}